<%= link_to "About", "/about" %>
<%= link_to "Back", scientists_path %>


<h1>Shadman Ahmed</h1>


<h2>Number of Scientists: <%= Scientist.all.count %></h2>
<h2>Number of Planets: <%= Planet.all.count  %></h2>

