<h1>All Scientists</h1>

<% @scientists.each do |scientist| %>
<h3><li><%= link_to scientist.name, scientist_path(scientist)  %></li></h3>
<% end %>

<%=link_to "Add Scientist", new_scientist_path  %>

<br><%= link_to "Add Mission", new_mission_path %>

<%= link_to "About", "/about" %>